TF_VAR_cluster_name="terraform-cluster"
TF_VAR_rancher_kubernetes_version="v1.25.13+rke2r1"

TF_VAR_vpc_name="vpc_terraform"
TF_VAR_all_roles_master_name="terraform-all-roles-master-server-"
TF_VAR_master_name="terraform-master-server-"
TF_VAR_worker_name="terraform-worker-server-"

TF_VAR_master_instances=4
TF_VAR_worker_instances=4
TF_VAR_ssh_private_key_path="~/.ssh/id_rsa"
TF_VAR_ssh_public_key_path ="~/.ssh/id_rsa.pub"

#Subnets only change the second number to numbeer of networks
# For example if you have 5networks and want to add five, you need
# to change 10.3. => 10.4. other things are the same
# Or check in hetzner project which are already taken
# We want to have 1 network with 2 subnets which can't cross
# So half adresses we give to cillium, and other to hcloud-controller-manager

TF_VAR_ip_range_network="10.3.0.0/16"
TF_VAR_ip_range_cilium_subnet="10.3.0.0/17"
TF_VAR_ip_range_subnet_hccm="10.3.128.0/17"

# 1password values
TF_VAR_api_url=op://Private/api_url/password
TF_VAR_rancher2_access_key=op://Private/access_key/password
TF_VAR_rancher2_secret_key=op://Private/secret_key/password
TF_VAR_hcloud_token=op://Private/hcloud_token/password

